.card-image-container {
    background-size: cover;
    position: relative;
    overflow: hidden;
    text-align: center;
}
.image-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -100%);
    transition: 0.3s ease;
    opacity: 0;
    color: #222;
    z-index: 1;
}
.overlay-background {
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 0;
    background: white;
    transition: 0.2s ease;
}
.card:hover .overlay-background {
    opacity: 0.5;
}
.card:hover .image-overlay {
    opacity: 1;
    transform: translate(-50%, -50%);
}
.img {
    top:0;
    left:0;
    object-fit: cover;
    z-index:-1;
}
.card:hover .img {
    opacity: .5;
}
.arrow {
    opacity: 0;
    left:-10px;
    transform: scale(2);
}
.card:hover .arrow {
    opacity: 1;
    transform: translate(15px,0) scale(1.2);
    transition: 0.3s ease;
}
.card:hover {
    box-shadow: 2px 5px 5px  grey;
    transition: 0.3s ease;
    cursor: pointer;
}

@keyframes color-me-in {
    /* You could think of as "step 1" */
    0% {
      background: white;
    }
    /* You could think of as "step 2" */
    50% {
      background: white;
    }
  }